@charset "UTF-8";

@font-face {font-family: 'HelveticaNeueLTStd-Bd';src: url('../fonts/2794C7_0_0.eot');src: url('../fonts/2794C7_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2794C7_0_0.woff') format('woff'),url('../fonts/2794C7_0_0.ttf') format('truetype');}  
@font-face {font-family: 'HelveticaNeueLTStd-BdIt';src: url('../fonts/2794C7_1_0.eot');src: url('../fonts/2794C7_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2794C7_1_0.woff') format('woff'),url('../fonts/2794C7_1_0.ttf') format('truetype');}
@font-face {font-family: 'HelveticaNeueLTStd-Roman';src: url('../fonts/2794C7_2_0.eot');src: url('../fonts/2794C7_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2794C7_2_0.woff') format('woff'),url('../fonts/2794C7_2_0.ttf') format('truetype');}
@font-face {font-family: 'HelveticaNeueLTStd-Th';src: url('../fonts/2794C7_3_0.eot');src: url('../fonts/2794C7_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2794C7_3_0.woff') format('woff'),url('../fonts/2794C7_3_0.ttf') format('truetype');}
@font-face {font-family: 'HelveticaNeueLTStd-It';src: url('../fonts/2794C7_4_0.eot');src: url('../fonts/2794C7_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2794C7_4_0.woff') format('woff'),url('../fonts/2794C7_4_0.ttf') format('truetype');}
@font-face {font-family: 'HelveticaNeueLTStd-ThIt';src: url('../fonts/2794C7_5_0.eot');src: url('../fonts/2794C7_5_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2794C7_5_0.woff') format('woff'),url('../fonts/2794C7_5_0.ttf') format('truetype');}


.fhnp-th{font-family: "HelveticaNeueLTStd-Th"}
.fhnp-bd{font-family: "HelveticaNeueLTStd-Bd"}

/* globals */
.fgeo{font-family: Georgia, Times, "Times New Roman", serif;}

/* header start */
.navbar-default, .byaj {
    background-image: url('../img/banner.jpg');
    border: 0px;
}
.navbar-default {
    background-color: #f90;
    border-color: #f90;
}
.navbar>.container .navbar-brand-centered, .navbar>.container-fluid .navbar-brand-centered {
    margin-left: -65px;
    margin-top: -20px;
}
.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    text-align: center;
}
.navbar-default {
    background-color: #f90;
    border-color: #f90;
}
nav.navbar.shrink {
    min-height: 25px
}

nav.navbar {
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.shrinklogo {
    transform: scale(.6);
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.navbarbottom {
    margin: 0
}
/* header end */

/* battle ground */
.region{
	display: inline-block;
	width:15%;
	margin-left:10px;
	margin-right:10px;
}

.region .title{text-transform: uppercase; text-align:center; color:#666666; font-weight: 900; font-size:14px; padding:3px; }
.region .body{background: #EFEFEF; min-height: 1000px; padding-top:15px; height:2500px;}

#asia .body{border-top: 5px solid #cc6600;}
#europe .body{border-top: 5px solid #006666;}
#africa .body{border-top: 5px solid #993300;}
#australia .body{border-top: 5px solid #669900;}
#north-america .body{border-top: 5px solid #3366cc;}
#south-america .body{border-top: 5px solid #666699;}
#middle-east .body{border-top: 5px solid #cc9966;}

.aisa{color:#cc6600;}
.europe{color:#006666;}
.africa{color:#993300;}
.australia{color:#669900;}
.north-america{color:#3366cc;}
.south-america{color:#666699;}
.middle-east{color:#cc9966;}

.leader{margin:10px; position:relative;}
.leader .image{position: relative; z-index:5;}
.leader .image img{width:100%; border-radius: 100px; border:solid 5px #cc6600;}
.leader .text{position:absolute; top:20px; left:120px; z-index:3;}
.right{left:120px !important;}
.left{left:-275px !important;}
.leader .text .tenure{font-size:20px;white-space: nowrap; padding-left:10px; font-weight: 600;}
.leader .text .name{white-space: nowrap; background: #333333; color:#fff; padding:2px 10px 2px 10px; font-size:20px; font-weight: 500; border-bottom:5px solid #cc6600;}
.leader .text .designation{white-space: nowrap; padding-left:10px; text-transform: uppercase; font-weight: 600; color:#cc6600; font-size:12px; padding-top:3px;}

.m-region{height: auto; background:#cc6600; color:#fff; text-align: center; font-size:28px; font-weight: 500; padding:25px;}
#m-asia{background:#cc6600;}
#m-europe{background:#006666;}
#m-africa{background:#993300;}
#m-australia{background:#669900;}
#m-north-america{background:#3366cc;}
#m-south-america{background:#666699;}
#m-middle-east{background:#cc9966;}
/* battle ground */


/* footer start */
footer{margin-top:20px;}

#footer-secondary2 nav a{
	margin-right:20px;
	color:#666666;
	font-size:18px;
	font-weight: 500;
}

#footer-primary h2{
	color:#666;
	font-size:18px;
}

#footer-primary nav a{
	display:block;
	color:#666;
	margin:5px 0 5px 0;
	font-size:14px;
}

.aj-fs-nav1{float:left;margin-left:15px;}
.aj-fs-nav2{float:right;}
.aj-fs-nav2 a:hover{text-decoration: none;}
.aj-fs-nav2 a{cursor: pointer;}

.aj-fs-ajlc{margin:30px 30px 30px 0;}
.aj-fs-ajlc a{color:#333;font-weight: 300; font-size:26px;}
/* footer end */


/* media queries start */
/* media queries end */

